<div class="container">
  <a routerLink="add-event-item">
    <button mat-raised-button color="primary">ADAUGA EVENIMENT</button></a
  >
  <a routerLink="view-reviews">
    <button mat-raised-button color="primary">VEZI REVIEW-URILE</button>
  </a>
  <a routerLink="view-messages">
    <button mat-raised-button color="primary">VEZI MESAJELE</button></a
  >
  <a routerLink="view-emails-newsletter">
    <button mat-raised-button color="primary">VEZI NEWS-LETTER</button></a
  >
  <a routerLink="view-rent-sup">
    <button mat-raised-button color="primary">VEZI SUP INCHIRAT</button></a
  >
</div>
