.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.container {
    display: flex;
    width: 60%;
    height: 70vh;
    border-radius: 50px;
    background-color: white;
    box-shadow: -2px 0px 10px 0px #53A7D1;

    form {
        background-color: var(--light-blue);
        border-radius: 50px;
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-form-field {
            width: 400px;

        }

        h1 {
            color: var(--dark-blue)
        }

        button {
            width: 200px;
            background-color: var(--orange);
            font-weight: 800;
        }

    }

    .view-reviews-container {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;

        .rating-container {
            display: flex;
            flex-direction: column;
            background-color: white !important;
            width: 240px;
            margin-top: 3rem;
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: var(--boxShadow);

            div {
                display: flex;
                color: orange;
                font-weight: bold;
            }

            em {
                text-align: center;
                font-size: 0.8rem;
            }



        }

    }



}