.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;


    .rating-container {
        display: flex;
        flex-direction: column;
        background-color: white !important;

        margin-top: 3rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--boxShadow);

        div {
            display: flex;
            color: orange;
            font-weight: bold;
        }

        em {
            text-align: center;
            font-size: 0.8rem;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 0 8rem;

        * {
            width: 80%;

        }

    }


}