<app-not-found
  [visible]="!cursDetails"
  notFoundMessage="Curs Not Found!"
  resetLinkText="Back to Homepage"
></app-not-found>
<h1>EVENIMENT</h1>
<div *ngIf="cursDetails" class="container">
  <img
    [src]="cursDetails.imageUrl"
    [alt]="cursDetails.name"
    class="item-image"
  />
  <div class="details">
    <div class="header">
      <span class="name">{{ cursDetails.name }}</span>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/map-pin.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Locatie: {{ cursDetails.locatie }}</p>
    </div>
    <div class="item-details">
      <img
        src="assets/images/svg/date.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Data: {{ cursDetails.durata }}</p>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/clock.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Ora: {{ cursDetails.ora }}</p>
    </div>
    <div class="item-details">
      <img
        src="assets/images/svg/user-check.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Varsta: {{ cursDetails.varsta }}</p>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/price.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Pret/persoana: {{ cursDetails.price | currency }}</p>
    </div>

    <!-- <div class="tags">
      <a *ngFor="let tag of cursDetails.tags" routerLink="/tag/{{ tag }}"
        >{{ tag }}
      </a>
    </div> -->

    <button (click)="addToCart()">REZERVA ACUM!</button>
  </div>
</div>
<h1>DETALII</h1>

<div class="detalii">
  <div class="detalii-item">
    <h1>Pentru cine?</h1>
    <p>
      Acest curs este dedicat copiilor care au parcurs cursul de initiere si isi
      doresc sa continuie procesul de invatare pe apa. Varsta recomandata este
      de 8-13 ani, insa se pot face si exceptii.
    </p>
  </div>
  <div class="detalii-item">
    <h1>Echipament?</h1>
    <p>
      Noi vom oferi placa de SUP, padela, vesta de salvare obligatorie, iar tu
      esti asteptat in haine sport, de apa, cu o crema solara si o sticla de apa
      la tine!
    </p>
  </div>
  <div class="detalii-item">
    <h1>De ce?</h1>
    <p>
      Acest curs ofera copiilor posibilitatea de a se dezvolta, invatand tehnici
      de vaslit, balas si siguranta pe apa. Totodata, mediul este unul
      prietenos, in care fiecare este incurajat sa se exprime liber.
    </p>
  </div>
</div>
<br />
<h1>GALERIE</h1>
<br />
<img class="galerie" src="assets/images/photos/galerie.png" alt="galerie" />
