.main-container {
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    height: 100vh;

    form {

        display: flex;
        justify-content: center;
        align-items: center;


        .left-side {
            color: white;
            height: 650px;
            background-color: var(--light-blue);
            display: flex;
            flex-direction: column;
            align-items: space-around;
            justify-content: center;
            padding: 50px 100px;
            border-radius: 50px 0 0 50px;

        }


        ::ng-deep button {

            font-size: 16px;
            color: var(--orange)
        }

        ::ng-deep .demo-inline-calendar-card {
            width: 600px;
        }

        .btn-submit {

            background-color: var(--orange);
            font-size: 40px;
            width: 50%;
            margin: 20px 0;
            padding: 5px 0;
            color: white;
            border: 2px solid white;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 0px var(--light-blue);

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }

        }

    }
}