.container {
    h1 {
        text-align: center;
        color: var(--orange)
    }

    ul {

        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;


        li {
            width: 200px;
            margin: 10px;
            height: 150px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }


    }

}

.isAdmin {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.isNotAdmin ul li:nth-child(n+5) {
    display: none;
}