.despre-noi {
    position: relative;
    background-image: url("/assets/images/photos/lake.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        text-align: center;
        padding-top: 30px;
        color: white;
    }

}

.poveste-container {
    position: relative;
    background-image: url("/assets/images/photos/wave.png");
    height: 800px;
    top: -100px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 40px;
    padding: 0 250px;

    p {
        width: 95%;
        font-size: 24px;
    }

}

.echipa {

    .membru {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            text-align: center;
        }

        h2 {
            color: var(--orange);
            font-weight: 800;
            border-bottom: 3px solid var(--orange);
            width: max-content;
            margin: 0 auto;
            padding: 10px 50px;
        }
    }


}

.wave-bottom {
    position: relative;
    background-image: url('/assets/images/photos/wave-bottom.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;

}

.echipament {
    display: flex;
    // padding: 50px;
    justify-content: center;
    padding: 100px;

    img {
        margin-right: 10%;
    }

    .echipament-text {
        display: flex;
        flex-direction: column;
        // text-align: center;
        width: 30%;

    }
}